<ion-view view-title="About">
<ion-content>
  <div class="row">
    <div class="col col-80 col-offset-10 profile">
          <img width="100%" src="http://placehold.it/350x150?text=Our+Logo">
          <h4 class="profile_name">Welcome to ClubHop!</h4>
          <h5 class="profile_name">Version 0.1</h5>

    </div>
  </div>
  <div class="row">
    <div class="col col-100">
      <p>ClubHop is a social event app that helps you get the most out of your nightlife experience.</p>
      <p>We offer different levels of packages for concerts so that you can get the most out of your experience.</p>
      <p>Get into more places with HopCash and help us promote the app in exchange for concert packages.</p>
      <div class="item item-divider">
        Features to be added
      </div>
      <ul class="list">
        <li class="item">Social Media Integration</li>
        <li class="item">Account Sign In / Sign Out</li>
        <li class="item">Watching/Favorites Feature</li>
        <li class="item">Venues Feature</li>
        <li class="item">Payment Feature</li>
        <li class="item">Invite / HopCash Feature</li>
        <li class="item">Contact Support</li>
        <li class="item">Security Page</li>
      </ul>
    </div>
  </div>

</ion-content>
</ion-view>
