<ion-view view-title="Account">
<ion-content>
  <div class="row">
    <div class="col col-50 col-offset-25 profile">
          <img width="60%" src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/female-circle-512.png">
          <h4 class="profile_name">Ana Smith</h5>
    </div>
  </div>
  <div class="list">

    <div class="item item-divider">
      Contact Info
    </div>

    <div class="item item-text-wrap">
      Home Address
      <p>5123 Uptown Street<br>
      Chattanooga, TN 37411</br>
      USA</p><br>
      E-Mail<br>
      <p>AnaSmith12@gmail.com</p>
    </div>

    <button class="button button-full button-stable no_top">Edit</button>

    <button class="button button-full button-stable">Change Photo</button>

    <div class="item item-divider">
      <h3>Social Networks</h3>
    </div>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-social-facebook-outline"></i>
        Facebook
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-social-twitter-outline"></i>
        Twitter
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-social-instagram-outline"></i>
        Instagram
    </a>

  </div>

</ion-content>
</ion-view>
