<ion-view view-title="Support">
<ion-content>
  <div class="list">

    <div class="item item-divider positive">
      Let us help you out! Pick a topic.
    </div>

    <a class="item item-icon-right" href="#">
      Problems redeeming package.
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      Problems with purchase.
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      Managing account.
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      Problem with a venue.
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      General Question or Feedback.
      <i class="icon ion-ios-arrow-right"></i>
    </a>



  </div>
</ion-content>
</ion-view>
