<ion-view view-title="Invite">
  <ion-content>

      <div class="row responsive-lg item-divider">
        <div class="col">
          <h2 class="balanced">Get $5 in HopBucks!</h2>
          For every friend that you invite that signs up and makes their first purchase of $15 or more you get $5 for referring them to us!
        </div>
      </div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-email"></i>
        Invite via E-Mail
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatboxes"></i>
        Invite via SMS
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-facebook-outline"></i>
        Invite via Facebook
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-twitter-outline"></i>
        Invite Via Twitter
        <i class="icon ion-ios-arrow-right"></i>
      </a>


    </div>
  </ion-content>
</ion-view>
