<ion-side-menus>

  <ion-side-menu-content>
  <!--Nav Bar -->
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <!--Main Content Directives -->
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

<ion-side-menu side="left">

  <header class="bar bar-header bar-stable">
      <h1 class="title">Settings</h1>
  </header>
  <!--Account Avatar -->
  <ion-content class="has-header">
      <div class="row">
        <div class="col col-50 col-offset-25 profile">
              <img width="50%" src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/female-circle-512.png">
              <h4 class="profile_name">Ana Smith</h5>
        </div>
      </div>
  <!--Menu List -->
    <ion-list>
      <div class="list">
        <a menu-close class="item item-icon-left" href="#/home">
          <i class="icon ion-pricetags"></i>
          ClubHop Deals
        </a>
        <a menu-close class="item item-icon-left" href="#/home/settings">
          <i class="icon ion-ios-cog-outline"></i>
          Settings
        </a>
        <a menu-close class="item item-icon-left" href="#/home/invite">
          <i class="icon ion-paper-airplane"></i>
          Invite Friends
          <p>Earn $5 HopCash</p>
        </a>
        <a menu-close class="item item-icon-left" href="#/home/contact">
          <i class="icon ion-email"></i>
          Contact Support
        </a>
        <a menu-close class="item item-icon-left" href="#/home/about">
          <i class="icon ion-ios-information-outline"></i>
          About
        </a>
      </div>
    </ion-list>
  </ion-content>

</ion-side-menu>
</ion-side-menus>
