<ion-header-bar class="bar-dark">
    <h1 class="title">Settings</h1>
</ion-header-bar>

<ion-content>

  <ul class="list">
    <li class="item">
      Account
    </li>
    <li class="item">
      Favorites
    </li>
    <li class="item">
      Watching
    </li>
    <li class="item">
      Payment Methods
    </li>
    <li class="item">
      Invite
    </li>
    <li class="item">
      Contact Support
    </li>
    <li class="item">
      Security=
    </li>
    <li class="item">
      About
    </li>


  </ul>

</ion-content>
