<ion-view view-title="Contact Us">
  <ion-content>

<!-- To Do:
    = Get submit button to send to message server. Make urgent request.
    = Return text to user saying approximate response time
  !-->

<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="E-Mail">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Subject">
  </label>

  <label class="item item-input">
    <textarea rows="6" placeholder="Message"></textarea>
  </label>

  <button class="button button-block button-positive activated">Submit</button>
</div>

  </ion-content>
</ion-view>
