<ion-view view-title="Contact Us">
  <ion-content>

  <div class="align-center">
    <h4>General Questions and Feedback</h4>
  </div>

    <div class="row">
      <div class="col">
        <p>Feel free to tell us how we are doing. We appreciate the feedback.</p>
      </div>
    </div>

    <a class="item item-icon-left item-icon-right" href="#/home/contact/email">
      <i class="icon ion-email"></i>
      Contact via E-Mail
      <i class="icon ion-ios-arrow-right"></i>
    </a>

  </ion-content>
</ion-view>
