<ion-view view-title="Contact Us">
  <ion-content>
  <div class="align-center">
    <h4>Managing Account</h4>

  </div>

  <div class="row">
    <div class="col">
      <p>It's very easy to make changes to your account. Tap <strong> Menu > Settings</strong> to make changes to your account. Drop us an e-mail if you still have questions. You can make the following changes:</p>
    </div>
  </div>

    <ul class="list">
      <li class="item">Change Profile Pic</li>
      <li class="item">Change Contact Info</li>
      <li class="item">Connect Social Networks</li>
      <li class="item">Change Payment</li>
    </ul>

    <a class="item item-icon-left item-icon-right" href="#/home/contact/email">
      <i class="icon ion-email"></i>
      Contact via E-Mail
      <i class="icon ion-ios-arrow-right"></i>
    </a>



  </ion-content>
</ion-view>
