<ion-view view-title="Contact Us">
  <ion-content>
  <div class="align-center">
    <h4>Purchase Issues</h4>
  </div>
  <div class="row">
    <div class="col">
      <p>Having an issue making a purchase? Please feel free to drop us a line and we will contact as soon as we possible can.</p>
    </div>
  </div>

  <a class="item item-icon-left item-icon-right" href="tel:+18001234567">
    <i class="icon ion-ios-telephone-outline"></i>
    Contact via Phone
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#/home/contact/email">
    <i class="icon ion-email"></i>
    Contact via E-Mail
    <i class="icon ion-ios-arrow-right"></i>
  </a>


  </ion-content>
</ion-view>
