<ion-view view-title="Contact Us">
  <ion-content>
  <div class="align-center">
    <h4>Having problems redeeming your ticket package at a show?</h4>
    <img src="http://3.bp.blogspot.com/-E9Xu3U_1_Ik/UnF8qfR0R5I/AAAAAAAAARw/-_DHnUoQWJc/s1600/question-ticket-1.png" width="50%">
  </div>
  <div class="row">
    <div class="col">
      <p>We apologize for the inconvience. Because we know the urgency of this issue we have setup a special line for requests on this very issue. Please contact us immeditetly and we will try to solve your issue in a timely manner. Once you contact us we will get in touch with the venue ASAP to get your issue solved.</p>
    </div>
  </div>
  <a class="item item-icon-left item-icon-right" href="tel:+18001234567">
    <i class="icon ion-ios-telephone-outline"></i>
    Contact via Phone
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#/home/contact/sms">
    <i class="icon ion-chatboxes"></i>
    Contact via SMS
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  </ion-content>
</ion-view>
