<ion-view view-title="Contact Us">
  <ion-content>
  <div class="align-center">
    <h4>Venue Issues</h4>
  </div>
  <div class="row">
    <div class="col">
      <p>We value the relationship between our customers and our venue partners and strive to solve any issues that our clients may run into with the venues. Please feel free to call for urgent issues. For general feedback about the venues drop us an e-mail.</p>
    </div>
  </div>
  <a class="item item-icon-left item-icon-right" href="tel:+18001234567">
    <i class="icon ion-ios-telephone-outline"></i>
    Contact via Phone
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" href="#/home/contact/email">
    <i class="icon ion-email"></i>
    Contact via E-Mail
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  </ion-content>
</ion-view>
