/* Empty. Add your own CSS if you like */

p.description {
  line-height: 35px;
  height: 35px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.item-divider {
/*  background-color: #f7df69;
  color: #706727; */
}

.container:last-child {
  margin-bottom: 60px;
}

.profile {
  text-align: center;
}

button.button-full.button-stable.no_top {
  margin-top: 0px;
}

.no_to {
  margin-top: 0px;
}

h4.profile_name {
  margin-bottom: 0px;
  margin-top: 0px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 90%;
  height: 20px;
  margin-top: 0px;
}

a.events {
  text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.align-center {
  text-align: center;
}

/* Progress Styles */

div.progress .col{
  text-align: center;
  margin-top: -20px;
}


.reserved {
  margin-right: 20px;
}

.spots {
  margin-right: 20px;
}

.time_left {
  margin-right: 0;
}

.stats_sub {
  margin-top: -10px;
}

strong.block.h4 {
  margin-bottom: 0px;
}
